# Secret Data
GoogleService-Info.plist
GoogleService-Info-Staging.plist
SecretData.swift

.firebaserc
firebase.json

# Xcode project files except for the project file
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/*
*.xcworkspace/*
!*.xcworkspace/contents.xcworkspacedata

# Bundler
.bundle
vendor/bundle

# Cocoapods
Pods/*

# R.swift
R.generated.swift

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
fastlane/gym_output
fastlane/metadata

# Build App(Fastlane)
*.app.dSYM.zip
*.ipa

# Node Modules
node_modules/