# Secret Data
GoogleService-Info.plist
SecretData.swift

.firebaserc
firebase.json

# Xcode project files except for the project file
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/*
*.xcworkspace/*
!*.xcworkspace/contents.xcworkspacedata

# Images
img/*

# Cocoapods
Pods/*

# R.swift
R.generated.swift
