<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1082508630574-0cesculvpfs0ah2a0c0jd042heqa1asp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1082508630574-0cesculvpfs0ah2a0c0jd042heqa1asp</string>
	<key>API_KEY</key>
	<string>AIzaSyA6wf3Xnj9tpUTwSntSnHKU-b_qsZkDfy8</string>
	<key>GCM_SENDER_ID</key>
	<string>1082508630574</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.balenaik.ThankYouList</string>
	<key>PROJECT_ID</key>
	<string>thank-you-list</string>
	<key>STORAGE_BUCKET</key>
	<string>thank-you-list.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1082508630574:ios:a2afcd854bbbcba3</string>
	<key>DATABASE_URL</key>
	<string>https://thank-you-list.firebaseio.com</string>
</dict>
</plist>